<!DOCTYPE html>
<html>

<head>
    <!-- Import bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style type="text/css">
        body {
            height: 100%;
        }
        /* centre the content */
        .centercontent {
            padding: 15px;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
    <title>Who you are?</title>
</head>

<body>
    <div class="centercontent">
        <h1>We just wanna make sure who you are?</h1>
        <br>
        
            <form action="{{action}}">
                <div class="form-group">
                  <label for="exampleInputEmail1">Your ID</label>
                  <center><input type="text" name="studentid" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter ID (ex.07684)" pattern="[0-9]{5}" title="Enter your 5 Digits ID" required></center>
                  <small id="emailHelp" class="form-text text-muted">#StaySafe</small>
                </div>
                <!-- <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
    </div>
</body>

</html>