<!DOCTYPE html>
<html>

<head>
    <!-- Import bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style type="text/css">
        body {
            height: 100%;
        }

        /* centre the content */
        .centercontent {
            padding: 15px;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
    
    <title>Thank You</title>
</head>

<body>
    <div class="centercontent">
        <h1 id="textin"></h1>
        <br>
        <script>
            var randomt=['ขอบคุณ','Dankie','ju faleminderit','faleminderit','شكرا','Grazias'];
            document.getElementById("textin").innerHTML=randomt[Math.floor(Math.random()*5.99)];
    </script>
        
                <small id="emailHelp" class="form-text text-muted">Feel free to close this tap.</small>
            
    </div>
</body>

</html>